.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.buttons-container {
    width: 100%;
}
.buttons-div {
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.score-board {
    display: flex;
}